/* .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.input-field {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.progressBar {
    width: 25%;
    display: flex;
}